@{
    ViewBag.Title = "Ingredient Calculator";
}

<div class="jumbotron">
    <h1>Ingredients Calculator</h1>
    <p class="lead">Ingredient Calculator is an application that will track the cost of recipes by using data on ingredient cost.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get started by adding ingredients
        </p>
        <p><a class="btn btn-default" href="../ingredients">Add Ingredients &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simple Design</h2>
        <p>By creating unique database of ingredients, you can re-use data across recipes without data being stale or duplicated</p>
    </div>
    <div class="col-md-4">
        <h2>Some other cool thing</h2>
        <p>You'll save so much money!</p>
    </div>
</div>